
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #BEA581;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/* menu*/
.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;

}


.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnlogin-popup {
    width:  130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;     
}

.navigation .btnlogin-popup:hover {
    background:  white;
    color: black;
}


.navigation .btnlogout-popup {
    width: 130px; /* Stessa larghezza del pulsante di login */
    height: 50px;/* Stessa altezza del pulsante di login */
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px; /* Stesso margine sinistro del pulsante di login */
    transition: .5s; 
}

.navigation .btnlogout-popup:hover {
    background:  white;
    color: black;
}


/* footer */
footer {
    background-color: #2e2f31;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Stile per la barra di ricerca */
form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Stile per il campo di input della barra di ricerca */
form input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Stile per il pulsante di ricerca */
form button {
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #BEA581;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Stile per il pulsante di ricerca al passaggio del mouse */
form button:hover {
    background-color: #a57d45;
}



.wrapper{
    position: relative;
    width: 400px;
    height: 440px; 
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items:  center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}


.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none; 
    transition: .5s;
    border-bottom: none
}

.input-box input:focus~label,
.input-box input:valid~label {
    top:-5px;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:  #162938;
    line-height: 57px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    position: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #152938;
    font-size: 2em;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;

}

.form-box h2{
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #152938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #152938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #152938;
    font-weight: 600;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #152938;
    line-height: 57px;
}

.remember-forget{
    font-size: 0.9em;
    color: #152938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #152938;
    margin-right: 3px;
}

.remember-forget a {
    color: #152938;
    text-decoration: none;    
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #152938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register{
    font-size: 0.9em;
    color: #152938;
    text-align:  center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #152938;
    text-decoration:none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

/* pagina anagrafica*********************************************************************************/
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}


/* Stili per il contenitore principale */
.container {
    max-width: 800px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    position: relative;
}

/* Stili per il form */
.form-container {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    background-color: #a57d45;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: .5s;
}

/* Stili per la sezione dell'indirizzo */
.address-section {
    margin-top: 20px;
}

.address-section h2 {
    margin-bottom: 10px;
}

.address-section input {
    width: calc(100% - 70px);
}

/*container info*/
/* Stili per la sezione di informazioni */
.infocont {
    max-width: 800px;
    margin: 0 auto;
    margin-right: 300px;
    padding: 20px;
    background-color: #BEA581;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Stili per gli elementi h2 */
.infocont h2 {
    color: WHITE;
    font-size: 24px;
    margin-top: 20px;
}

/* Stili per il testo paragrafo */
.infocont p {
    font-size: 16px;
    line-height: 1.5;
}

/* Stili per la lista non ordinata */
.infocont ul {
    list-style-type: none;
    padding: 0;
}

/* Stili per gli elementi della lista */
.infocont li {
    margin-bottom: 5px;
}

/* Stili per il testo in grassetto */
.bold-text {
    font-weight: bold;
}

#btn-advanced-search {
    display: block;
    margin-bottom: 10px; /* Aggiungi margine inferiore per spaziare il pulsante dagli altri elementi */}