{% extends 'template.html' %}

{% block title %} Bibliteca: Info {% endblock %}

{% block content %}

<div class="infocont">
    <h2>Chi Siamo</h2>
    <p>La Biblioteca Tre Cani è un punto di riferimento culturale nella comunità da oltre 20 anni. Fondata nel 2002, siamo orgogliosi di essere diventati un luogo di ritrovo per gli amanti della lettura e un centro di promozione della cultura nel nostro quartiere.</p>

    <h2>Servizi Offerti</h2>
    <ul>
        <li>Ampia Selezione di Libri</li>
        <li>Risorse Digitali</li>
        <li>Eventi Culturali</li>
        <li>Spazio Studio</li>
        <li>Servizi per Bambini e Famiglie</li>
    </ul>

    <h2>Orari di Apertura</h2>
    <p>Lunedì - Venerdì: 9:00 - 18:00<br>
    Sabato: 10:00 - 16:00<br>
    Domenica: Chiuso</p>
</div>

{% endblock%}