<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- titolo della pagina -->
    <title>{% block title %} Biblioteca {% endblock %}</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="../static/favicon.png">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- menu -->
    <header>
        <h2 class="logo">Biblioteca tre cani</h2>
        <nav class="navigation">
            {% if session.connesso %}
                <a href="/logok">Home</a>
            {% endif %}
            <a href="/info">Info</a>
            <a href="/catalogo">Catalogo</a>
            {% if session.connesso %}           
                <button class="btnlogout-popup" onclick="location.href='/logout'">Logout</button>
            {% else %}  
                <button class="btnlogin-popup">Login</button>      
            {% endif %}
        </nav>
    </header>
    
    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close"></ion-icon>
        </span>
        
        <!-- login form -->
        <div class="form-box login">
            <h2 style="margin-top: -200px;">Login</h2>
            <form action="/executelogin" method="POST">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" id="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" id="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forget">
                    <label>
                        <input type="checkbox"> Ricordami 
                    </label>    
                    <a href="#">Password dimenticata?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>
                        Non hai un account?
                        <a href="#" class="register-link">Sign up</a>
                    </p>
                </div>
            </form>
        </div>

        <!-- register form -->  
        <div class="form-box register">
            <h2 style="margin-top: -230px;">Registrazione</h2>
            <form action="/executesignup" method="POST">
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="username" id="username" name="username" required>
                    <label style="border: none">Username</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" id="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" id="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forget">
                    <label>
                        <input type="checkbox"> Accetto i termini e condizioni 
                    </label>    
                </div>
                <button type="submit" class="btn">Sign Up</button>
                <div class="login-register">
                    <p>
                        Hai già un account?
                        <a href="#" class="login-link">Login</a>
                    </p>
                </div>
            </form>
        </div>     
    </div>

    <!-- contenuto della pagina -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <br>
    <!-- footer -->
    <footer>
        <p style="font-weight: bold;">Contattaci:</p>
        <br>    
        <p>Indirizzo: Via dei Libri, 123 - 00123 Città del Sole<br>
        Telefono: +39 012 345 6789<br>
        Email: info@bibliotecatrecani.it</p>
        <br>
        <p>Vi aspettiamo alla Biblioteca Tre Cani per scoprire il magico mondo della lettura e della conoscenza!</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
